html {
  background: #9d9;
  font-family: Arial, Helvetica, sans-serif;
}

  body {
    padding: 10px;
    margin: 10px;
  }
@media screen and (max-width: 768px) {
  body {
    padding: 0px;
    margin: 0px;
  }
  .features {
  display: flex;
   flex-direction: column;
  padding: 0px;
  margin: 0px;
  list-style: none;
  justify-content: space-evenly;
}
}
.nav-bar {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style: none;
}

.features {
  display: flex;
  padding: 0px;
  list-style: none;
  justify-content: space-evenly;
}

 .features a {
  background: #999;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  margin: .8rem;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.nav-bar a:hover {
  background: #111;
  color: #aaa;
}

.header-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
